<div class="svg-img">
  <svg width="160" height="460" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
 <title>Group 19 Copy</title>
 <desc>Created with Sketch.</desc>
 <defs>
  <rect height="8" width="160" y="0" x="0" id="path-1"/>
  <filter id="filter-2" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="16" x="0" id="path-3"/>
  <filter id="filter-4" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="32" x="0" id="path-5"/>
  <filter id="filter-6" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="48" x="0" id="path-7"/>
  <filter id="filter-8" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="64" x="0" id="path-9"/>
  <filter id="filter-10" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="80" x="0" id="path-11"/>
  <filter id="filter-12" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="96" x="0" id="path-13"/>
  <filter id="filter-14" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="112" x="0" id="path-15"/>
  <filter id="filter-16" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="128" x="0" id="path-17"/>
  <filter id="filter-18" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="144" x="0" id="path-19"/>
  <filter id="filter-20" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="160" x="0" id="path-21"/>
  <filter id="filter-22" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="176" x="0" id="path-23"/>
  <filter id="filter-24" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="192" x="0" id="path-25"/>
  <filter id="filter-26" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="208" x="0" id="path-27"/>
  <filter id="filter-28" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="224" x="0" id="path-29"/>
  <filter id="filter-30" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="240" x="0" id="path-31"/>
  <filter id="filter-32" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="256" x="0" id="path-33"/>
  <filter id="filter-34" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="272" x="0" id="path-35"/>
  <filter id="filter-36" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="288" x="0" id="path-37"/>
  <filter id="filter-38" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <polygon points="0 0 160 0 160 8 0 8" id="path-39"/>
  <filter id="filter-41" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="8" width="160" y="0" x="0" id="path-42"/>
  <filter id="filter-43" filterUnits="objectBoundingBox" height="125.0%" width="101.2%" y="-12.5%" x="-0.6%"/>
  <rect height="460" width="16" y="0" x="0" id="path-44"/>
  <filter id="filter-45" filterUnits="objectBoundingBox" height="101.7%" width="150.0%" y="-0.9%" x="-25.0%"/>
  <rect height="460" width="16" y="0" x="136" id="path-46"/>
  <filter id="filter-47" filterUnits="objectBoundingBox" height="101.7%" width="150.0%" y="-0.9%" x="-25.0%"/>
 </defs>
 <g>
  <title>Layer 1</title>
  <g fill-rule="evenodd" fill="none" id="Trackord-App-Design">
   <g id="03.2-New-Inspection-Step-2">
    <g id="Group-22-Copy-2">
     <g id="Group-19-Copy">
      <g id="Group-15">
       <g id="Group-16">
        <g id="Group-17">
         <g id="Rectangle-17">
          <use id="svg_1" x="0" y="74" xlink:href="#path-1" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_2" x="0" y="74" xlink:href="#path-1" filter="url(#filter-2)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_3" x="0" y="74" xlink:href="#path-3" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_4" x="0" y="74" xlink:href="#path-3" filter="url(#filter-4)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_5" x="0" y="74" xlink:href="#path-5" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_6" x="0" y="74" xlink:href="#path-5" filter="url(#filter-6)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_7" x="0" y="74" xlink:href="#path-7" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_8" x="0" y="74" xlink:href="#path-7" filter="url(#filter-8)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_9" x="0" y="74" xlink:href="#path-9" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_10" x="0" y="74" xlink:href="#path-9" filter="url(#filter-10)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_11" x="0" y="74" xlink:href="#path-11" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_12" x="0" y="74" xlink:href="#path-11" filter="url(#filter-12)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_13" x="0" y="74" xlink:href="#path-13" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_14" x="0" y="74" xlink:href="#path-13" filter="url(#filter-14)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_15" x="0" y="74" xlink:href="#path-15" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_16" x="0" y="74" xlink:href="#path-15" filter="url(#filter-16)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_17" x="0" y="74" xlink:href="#path-17" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_18" x="0" y="74" xlink:href="#path-17" filter="url(#filter-18)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_19" x="0" y="74" xlink:href="#path-19" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_20" x="0" y="74" xlink:href="#path-19" filter="url(#filter-20)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_21" x="0" y="74" xlink:href="#path-21" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_22" x="0" y="74" xlink:href="#path-21" filter="url(#filter-22)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_23" x="0" y="74" xlink:href="#path-23" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_24" x="0" y="74" xlink:href="#path-23" filter="url(#filter-24)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_25" x="0" y="74" xlink:href="#path-25" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_26" x="0" y="74" xlink:href="#path-25" filter="url(#filter-26)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_27" x="0" y="74" xlink:href="#path-27" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_28" x="0" y="74" xlink:href="#path-27" filter="url(#filter-28)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_29" x="0" y="74" xlink:href="#path-29" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_30" x="0" y="74" xlink:href="#path-29" filter="url(#filter-30)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_31" x="0" y="74" xlink:href="#path-31" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_32" x="0" y="74" xlink:href="#path-31" filter="url(#filter-32)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_33" x="0" y="74" xlink:href="#path-33" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_34" x="0" y="74" xlink:href="#path-33" filter="url(#filter-34)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_35" x="0" y="74" xlink:href="#path-35" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_36" x="0" y="74" xlink:href="#path-35" filter="url(#filter-36)" fill="black"/>
         </g>
         <g id="Rectangle-17">
          <use id="svg_37" x="0" y="74" xlink:href="#path-37" fill-rule="evenodd" fill="#9BA0AA"/>
          <use id="svg_38" x="0" y="74" xlink:href="#path-37" filter="url(#filter-38)" fill="black"/>
         </g>
         <g id="Group-18">
          <mask transform="translate(0,304) translate(0,74) translate(160,12) translate(64,190) translate(-224,-202) " id="mask-40">
           <use id="svg_39" xlink:href="#path-39"/>
          </mask>
          <g fill="black" id="Duplicate-control">
           <use id="svg_40" x="0" y="378" xlink:href="#path-39" filter="url(#filter-41)"/>
          </g>
          <g mask="url(#mask-40)" id="Rectangle-17">
           <use id="svg_41" x="0" y="378" xlink:href="#path-42" fill-rule="evenodd" fill="#9BA0AA"/>
           <use id="svg_42" x="0" y="378" xlink:href="#path-42" filter="url(#filter-43)" fill="black"/>
          </g>
         </g>
        </g>
       </g>
      </g>
      <g id="Group-14">
       <g id="Rectangle-16">
        <use id="svg_43" x="4" y="0" xlink:href="#path-44" fill-rule="evenodd" fill="#646973"/>
        <use id="svg_44" x="4" y="0" xlink:href="#path-44" filter="url(#filter-45)" fill="black"/>
       </g>
       <g id="Rectangle-16-Copy">
        <use id="svg_45" x="4" y="0" xlink:href="#path-46" fill-rule="evenodd" fill="#646973"/>
        <use id="svg_46" x="4" y="0" xlink:href="#path-46" filter="url(#filter-47)" fill="black"/>
       </g>
      </g>
     </g>
    </g>
   </g>
  </g>
  <rect (click)="clicked()" id="svg_47" height="13" width="13" y="21" x="54" stroke-width="2" stroke="#000000" fill="#3399cc"/>
 </g>
</svg>
</div>